.bg-anh1 {
  background-color: #000;
  background-size: cover;
  background-image: url(anh-nen-dep-nhat_105620947.jpeg);
}

.bg-anh2 {
  background-color: #000;
  background-size: cover;
  background-image: url(Hinh-nen-phong-canh.webp);
}
.bg-anh3 {
  background-color: #000;
  background-size: cover;
  background-image: url(thien-nhien-hinh-nen-phong-canh-dep-full-hd.webp);
}
